{% extends "drifters/base.html" %}
{% block details %}
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">{{ region }}</div>
            </div>
            <div class="panel-body">
                {% for system in scout_system_renders %}{{ system }}{% endfor %}
            </div>
        </div>
    </div>
{% endblock details %}
